<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"   
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">  
  <display-name>tsshare</display-name>  
    
  <!-- 监听spring上下文容器 -->  
  <listener>  
    <listener-class>  
            org.springframework.web.context.ContextLoaderListener   
    </listener-class>   
  </listener>  
  <!-- 加载spring的xml配置文件到spring的上下文容器中 -->  
  <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath*:/springmvc*.xml</param-value>  
  </context-param>  

 <!--关于log4j的相关配置-->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.xml</param-value>
  </context-param>
  <!--加载log4j配置文件-->
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>


  <!-- 配置springmvc DispatcherServlet  -->  
  <servlet>  
    <servlet-name>mvc</servlet-name>  
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
    <init-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>/WEB-INF/conf/springmvc.xml</param-value>  
    </init-param>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <!-- 配置DispatcherServlet需要拦截的url -->  
  <servlet-mapping>  
    <servlet-name>mvc</servlet-name>  
    <url-pattern>*.html</url-pattern>  
  </servlet-mapping>  
    
  <!-- 欢迎页 -->  
  <welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
    <welcome-file>index.htm</welcome-file>  
    <welcome-file>index.jsp</welcome-file>  
    <welcome-file>default.html</welcome-file>  
    <welcome-file>default.htm</welcome-file>  
    <welcome-file>default.jsp</welcome-file>  
  </welcome-file-list>  
</web-app>